<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>VTPowerLogin</title>

    <link rel="stylesheet" type="text/css" href="../static/css/styleLog.css">

    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/vector.js"></script>

</head>
<body>


<div id="container">
    <div id="output"></div>
</div>

<div class="bk">
    <img alt="img" src="../static/imgs/logBk.png">
</div>

<div class="containerT">
    <h1>契约召唤(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧</h1>
    <form class="form" id="entry_form" action="/login" accept-charset="UTF-8">
        <input type="text" placeholder="用户名/邮箱" id="name" name="entry_name"> <input
            type="password" placeholder="密码" id="password" name="entry_password">
        <button type="submit" id="entry_btn">帕秋莉 ♂ go</button>
        <div id="prompt" class="prompt">
        </div>
        <div class="reg">
            没有账号？点击<a href="reg.jsp">co↑co↓</a>成为魔法少女吧！(´ω｀★)
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        Victor("container", "output"); //登陆背景函数
        $("#entry_name").focus();
        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                $("#entry_btn").click();
            }
        });
    });
</script>

</body>
</html>